* {
  font-family: 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-page {
  border: 2px solid #4A6378;
  display: flex;
  height: 100%;
}


aside {
  background-color: #455A64;
  width: 50%;
  height: 100%;
}

h1 {
  color: #FFFFFF;
  display: flex;
  font-size: 3em;
  justify-content: center;
  margin-top: 30%;
  margin-bottom: 10%;
}

.link-img {
  width: 90px;
  height: 60px;
}

#aside-title-input,
#aside-url-input {
  border: 2px solid #CFD8DC;
  border-radius: 3px;
  font-size: 1.5em;
  height: 2em;
  margin: 0 2% auto;
  margin-bottom: 10%;
  padding: .25em;
  width: 96%;
}

#aside-add-task-input {
  border-radius: 3px 0 0 3px;
  margin-right: 0;
  width: 96%;
}

/* button {
  display: flex;
  justify-content: center;
} */

.aside-add-bookmark-button {
  background-color: #FFC107;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #FFFFFF;
  display: flex;
  font-weight: bolder;
  height: 4em;
  justify-content: center;
  margin-bottom: 50%;
  margin-left: 14px;
  padding: 0;
  width: 96%;
}

button:disabled {
  background-color: #FFD773;
}

main {
  background-color: #CFD8DC;
  border-left: 2px solid #4a6378;
  width: 50%;
  height: -webkit-fill-available;
}

.blank-msg {
  background-color:#CFD8DC;
  color: #607D8D;
  font-size: 3em;
  margin-bottom: 30%;

}

.book-card {
  border-width: thick;
  background-color: #F2F4F4;
  width: 80%;
  border: 1px solid #607D8D;
  margin:auto;
  margin-top: 5%;
  padding: 1%;


}

.title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #607D8D;
  padding-bottom: 2%;
  padding-top: 2%;
}

.url-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #607D8D;
  padding-bottom: 2%;
  padding-top: 2%;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.read,
.delete {
    background-color: #F2F4F4;
    border-color: #F2F4F4;
}

.card-buttons {
  color: #455A64;
  padding-bottom: 2%;
  padding-top: 2%;
}

.read:hover,
.delete:hover {
  color: red;
}
